# Any directory starting with a dot
**/\.*/
# Except .github
!.github/

# Everything in inputs/ and outputs/
inputs/*
outputs/*
service_data/*
outputs_*/

# Misc
*.log
*.txt
**/.DS_Store
**/__pycache__
venv/
OMRChecker.wiki/
